html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9fafb;
    font-family: 'Mulish', sans-serif;
    color: #333;
}

header {
    background-color: #6495ED;
    color: white;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #eee;
    /* margin-top: 3rem; */
    font-size: 0.9rem;
}

.container {
    max-width: 800px;
}